[submodule "vim/syntastic"]
	path = vim/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/puppet"]
	path = vim/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/tabular"]
	path = vim/tabular
	url = git://github.com/godlygeek/tabular.git
